# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
./system/wp-admin/
./system/wp-content/index.php
./system/wp-content/languages
./system/wp-content/plugins/index.php
./system/wp-content/themes/index.php
./system/wp-includes/
./system/index.php
./system/license.txt
./system/readme.html
./system/wp-*.php
./system/xmlrpc.php

# Configuration
./system/wp-config.php

# Example themes
./system/wp-content/themes/twenty*/

# Example plugin
./system/wp-content/plugins/hello.php

# Uploads
./system/wp-content/uploads/

# Log files
*.log

# htaccess
./system/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes

.DS_Store