/* boot strap5
@media (max-width: 575px) {...}
@media (min-width: 576px) and (max-width: 768px) {...}
@media (min-width: 769px) and (max-width: 992px) {...}
@media (min-width: 993px) and (max-width: 1200px) {...}
@media (min-width: 1200px) and (max-width: 1399px) {...}
@media (min-width: 1400px) {...}
*/
.top .doc-banner {
  position: relative;
}
.top .doc-banner img {
  width: 100%;
}
@media (max-width: 575px) {
  .top .doc-banner img.bnr-xs {
    display: block;
  }
  .top .doc-banner img.bnr-sm, .top .doc-banner img.bnr-md, .top .doc-banner img.bnr-lg, .top .doc-banner img.bnr-xl {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .top .doc-banner img.bnr-sm {
    display: block;
  }
  .top .doc-banner img.bnr-xs, .top .doc-banner img.bnr-md, .top .doc-banner img.bnr-lg, .top .doc-banner img.bnr-xl {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .top .doc-banner img.bnr-md {
    display: block;
  }
  .top .doc-banner img.bnr-xs, .top .doc-banner img.bnr-sm, .top .doc-banner img.bnr-lg, .top .doc-banner img.bnr-xl {
    display: none;
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  .top .doc-banner img.bnr-lg {
    display: block;
  }
  .top .doc-banner img.bnr-xs, .top .doc-banner img.bnr-sm, .top .doc-banner img.bnr-md, .top .doc-banner img.bnr-xl {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .top .doc-banner img.bnr-lg {
    display: block;
  }
  .top .doc-banner img.bnr-xs, .top .doc-banner img.bnr-sm, .top .doc-banner img.bnr-md, .top .doc-banner img.bnr-xl {
    display: none;
  }
}
@media (min-width: 1400px) {
  .top .doc-banner img.bnr-xl {
    display: block;
  }
  .top .doc-banner img.bnr-xs, .top .doc-banner img.bnr-sm, .top .doc-banner img.bnr-md, .top .doc-banner img.bnr-lg {
    display: none;
  }
}
@media (max-width: 575px) {
  .top .doc-banner .doc-banner-text {
    position: absolute;
    font-family: "poppins";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 30px;
    opacity: 0.7;
    color: #000;
    width: 100%;
    border-radius: 3px;
  }
  .top .doc-banner .doc-banner-text .doc-banner-title {
    font-size: 15vw;
  }
  .top .doc-banner .doc-banner-text .commerce {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .top .doc-banner .doc-banner-text {
    position: absolute;
    font-family: "poppins";
    top: 50px;
    left: 100px;
    padding: 30px;
    color: #000;
    width: 70%;
    border-radius: 3px;
  }
  .top .doc-banner .doc-banner-text .doc-banner-title {
    font-size: 60px;
  }
  .top .doc-banner .doc-banner-text .commerce {
    font-size: 12px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .top .doc-banner .doc-banner-text {
    position: absolute;
    font-family: "poppins";
    top: 50px;
    left: 100px;
    padding: 30px;
    color: #000;
    width: 70%;
    border-radius: 3px;
  }
  .top .doc-banner .doc-banner-text .doc-banner-title {
    font-size: 80px;
    margin-bottom: 60px;
  }
  .top .doc-banner .doc-banner-text .commerce {
    font-size: 12px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .top .doc-banner .doc-banner-text {
    position: absolute;
    font-family: "poppins";
    top: 50px;
    left: 100px;
    padding: 30px;
    color: #000;
    width: 70%;
    border-radius: 3px;
  }
  .top .doc-banner .doc-banner-text .doc-banner-title {
    font-size: 90px;
    margin-bottom: 60px;
  }
  .top .doc-banner .doc-banner-text .commerce {
    font-size: 12px;
  }
}
@media (min-width: 1201px) {
  .top .doc-banner .doc-banner-text {
    position: absolute;
    font-family: "poppins";
    top: 10%;
    left: 10%;
    padding: 30px;
    color: #000;
    width: 50%;
    border-radius: 3px;
  }
  .top .doc-banner .doc-banner-text .doc-banner-title {
    font-size: 100px;
    margin-bottom: 60px;
  }
  .top .doc-banner .doc-banner-text .commerce {
    font-size: 13px;
  }
}

/* top contents */
.top-contents {
  margin-top: 50px;
}
.top-contents .top-column-main .productad {
  margin: 30px;
}
.top-contents .top-column-main .productad img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid #c1c1c1;
  -webkit-filter: saturate(90%);
          filter: saturate(90%);
}
.top-contents .top-column-sub {
  margin: 0 !important;
  padding: 0 !important;
}
.top-contents .top-column-sub .intro-products {
  margin: 0;
  padding: 0;
}
.top-contents .top-column-sub .intro-products .container {
  margin: 0;
  padding: 0;
}
.top-contents .top-column-sub .intro-products .container .row {
  margin: 0;
  padding: 0;
}
.top-contents .top-column-sub .intro-products .container .row .img-col {
  margin: 0;
  padding: 0;
}
.top-contents .top-column-sub .intro-products img {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
.top-contents .top-column-sub2 h2 {
  font-family: "poppins";
}
.top-contents .top-column-sub2 .news p {
  margin: 0;
}
.top-contents .top-column-sub2 .news p a {
  color: #006699;
  text-decoration: none;
}
.top-contents .top-column-sub2 .news p a:hover {
  text-decoration: underline;
}
.top-contents .top-column-sub2 .news .news-contents {
  background-color: #ffd700;
}
.top-contents .top-column-sub2 .news .news-item .news_date {
  font-size: 12px;
  margin-left: 12px;
}
.top-contents .top-column-sub2 .sns_area img {
  width: 50px;
}
.top-contents .top-blog h2 {
  font-family: "poppins";
}
.top-contents .top-blog .blog-index .blog-item {
  line-height: 26px;
}
.top-contents .top-blog .blog-index .blog-item .blog_date {
  font-size: 12px;
  margin-left: 12px;
}
.top-contents .top-news h2 {
  font-family: "poppins";
}
.top-contents .top-news .news .news-item {
  line-height: 26px;
}
.top-contents .top-news .news .news-item .news_date {
  font-size: 12px;
  margin-left: 12px;
}